@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{ 
    margin: 0;
    padding: 0;
}/* * is used for everything in the page */

body{
    font-family: "Roboto Slab", serif;
}

.first-section{
    background-color: #1f2937 ;
}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
 
}

.header-link{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
    
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 420px;
    margin-top: 10px;
}


.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#hero-main{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}
 
.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 150px;
}

img{
    margin: 50px;
    margin-bottom: 20px;
}

.hero-secondary{
    font-size: 18px;
    color: #e5e7eb;
    padding-top: 10px;
}

.sign-up-first-sect{
    background-color: #3882f6;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border-color: #3882f6;
    width: 80px;
    justify-content: center;
    align-items: center;
    margin-right: 230px;
    margin-top: 15px;
}

 #info-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
 }

 .images-second-sect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
 }

 .images-row-second{
    margin-right: 100px;
 }

 .p-uimg{
    justify-content: center;
    align-items: center;
 }

 .third-section{
    background-color: #e5e7eb;
    padding: 100px;
    margin-top: 100px;
 }

 #quote{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
 }

 #author{
    display: flex;
    justify-content: right;
    margin-right: 300px;
 }

.fourth-section{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #3882f6;
    width: 65%;
    height: 40%;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
}

.left{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4{
    font-size: 24px;
    color: white;
}

#p-4{
    color: #e5e7eb;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}

.btn-4{
    background-color: #3882f6;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border-color:  white;
    width: 90px;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 80px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
